html {
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos para el aviso de lanzamiento oficial */

@keyframes shine {
    0% {
        transform: translateX(-120%);
    }

    50% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(120%);
    }
}

.animate-shine {
    animation: shine 2.8s ease-in-out infinite;
}

#menusContainer>div {
    transition: all 0.3s ease;
}